<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="static/favicon.ico">
		<script src="static/jquery/jquery.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<link href="static/bootstrap/css/bootstrap.min.default.css" rel="stylesheet">
		<title>rz_xls</title>
	</head>
	<body>
		<div id="header">
			<nav id="nav" class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-header">
				<a class="navbar-brand">{% block header %} {% endblock %} </a>
			</div>
			</nav>
		</div>

		<div id="main">
			<div class="container-fluid">
				<div class="row-fluid span12">
					{% block body %}
					{% endblock %}
					<br />
				</div>
			</div>
		</div>

		<div id="footer">
			<div class="container-fluid">
				<div class="row-fluid span12">
					{% for msg in get_flashed_messages() %}
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						{{ msg }}
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="container-fluid">
				<div class="row-fluid span12" style="text-align:center">
				</div>
			</div>
		</div>
	</body>
	<script>
		$(function(){
		var d=new Date().getDay();
		var a=new Array();
		a=["#003366","#336633","#000000","#0066cc","#003399","#333333","#ff9900"]
		$("#nav").css("background-color",a[d]);
		$(".navbar-brand").css("font-size",18px);
		});
	</script>
</html>
<!-- vim:set ts=2 shiftwidth=2: -->
