{% extends "base.html" %}
{% block header %} input form {% endblock %}
{% block body %}
				<form action="record" method="POST">
					<div class="input-group">
						<span class="input-group-addon not_hidden" >日期：</span>
						<input type="text" name="mdate" class="form-control not_hidden" placeholder="输入日期" aria-describedby="basic-addon1" value={{r_date}}>
					</div>

					<div class="input-group">
						<span class="input-group-addon not_hidden" >时间：</span>
						<input type="text" class="form-control not_hidden" name="mtime" placeholder="输入时间" aria-describedby="basic-addon1" value={{r_time}}>
					</div>
					<div class="form-group">
						<label class="not_hidden">记录内容:</label>
						<textarea class="form-control" name="edt1" rows="3" ></textarea>
						<label class="not_hidden">备注:</label>
						<textarea class="form-control" name="edt2" rows="1"></textarea>
					</div>
					<button class="btn btn-lg btn-success btn-block" style="float:right" id="submit" >提交</button>
				</form>
				<!-- 这几个放在后面 -->
				<script>
					$("#button").button();
					$("#edt1").focus();
				</script>

{% endblock %}

